@tailwind base;
@tailwind components;
@tailwind utilities;

.color-decor{
    @apply flex gap-1;
}
.color-decor div{
    height: 10px;
    width: 10px;
    @apply rounded-lg;
}
.color-decor div:nth-child(1){
    background-color: #D9D9D9;
}
.color-decor div:nth-child(2){
    background-color: #2F42A0;
}
.color-decor div:nth-child(3){
    background-color: #68D810;
}
.bg-gradient{
    background: linear-gradient(95.3deg, #60A547 38.19%, #364B72 125.77%);

}
.owl-nav{
    @apply text-6xl flex justify-between absolute top-10 w-full lg:top-56 md:top-40 xl:top-64
}
.owl-nav button span{
    @apply p-2 bg-red-50 opacity-50
}
.pattern{
    position: relative;
}
.pattern::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1999;
    content: "";
    opacity: 0.1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 16px ), repeating-linear-gradient( #444cf755, #444cf7 );
}
.gallery img{
    height: 320px;
}
html {
    scroll-behavior: smooth;

  }
